body {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: #3f4850;
}

h2 {
  font-size: 2em;
  margin: 52px 0 40px;
  text-transform: capitalize;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

.search-form {
  max-width: 460px;
  display: flex;
  margin: 0 auto 32px;
}

.search-form button {
  outline: none;
  background-color: #438bbd;
  border: none;
  padding: 0px 15px;
  border-radius: 0 0.35em 0.35em 0;
  cursor: pointer;
}

input {
  font-size: 1em;
  width: 100%;
  background-color: #edeff0;
  padding: 10px 15px;
  border: 3px solid #d7dbdf;
  border-right: none;
  border-radius: 0.35em 0 0 0.35em;
  outline: none;
}

.main-nav li {
  width: 100%;
  margin-bottom: 1em;
}

.main-nav a {
  display: block;
  background: #438bbd;
  border-radius: 3px;
  padding: 5px;
  color: #fff;
}

.main-nav .active,
.main-nav a:hover,
.search-form button:hover {
  background-color: #00c4c9;
}

.photo-container ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  -ms-align-items: flex-start;
  align-items: flex-start;
}

.photo-container ul li {
  width: 220px;
  height: 165px;
  overflow: hidden;
  margin-bottom: 15px;
}

.photo-container ul img {
  width: 100%;
  transform: scale(1.25);
  transition: transform 1.25s;
}

.photo-container li:hover img {
  transform: scale(1.65);
}

.photo-container .not-found {
  width: 100%;
}

@media only screen and (max-width: 767px)  {
  body {
    padding-top: 2em;
  }

  .photo-container li {
    margin: auto;
  }
}

@media only screen and (min-width: 768px)  {
  body {
    padding-top: 4em;
  }

  .container {
    max-width: 960px;
    margin: auto;
  }

  .main-nav ul {
    display: flex;
    justify-content: center;
  }
  
  .main-nav li {
    margin: 10px;
    width: 100px;
  }
}

/* error page style */
.four_zero_four_bg {
  background-image: url(https://cdn.dribbble.com/users/285475/screenshots/2083086/dribbble_1.gif);
  height: 400px;
  background-position: center;
}
.four_zero_four_bg h1 {
  font-size: 80px;
}

.link_error {
  margin-top: 10px;
  background: #8dc0e3;
  background-image: -webkit-linear-gradient(top, #8dc0e3, #2980b9);
  background-image: -moz-linear-gradient(top, #8dc0e3, #2980b9);
  background-image: -ms-linear-gradient(top, #8dc0e3, #2980b9);
  background-image: -o-linear-gradient(top, #8dc0e3, #2980b9);
  background-image: linear-gradient(to bottom, #8dc0e3, #2980b9);
  -webkit-border-radius: 9;
  -moz-border-radius: 9;
  border-radius: 9px;
  -webkit-box-shadow: 0px 0px 7px #8a6c8a;
  -moz-box-shadow: 0px 0px 7px #8a6c8a;
  box-shadow: 0px 0px 7px #8a6c8a;
  font-family: Courier New;
  color: #fff;
  font-size: 16px;
  padding: 10px 20px 10px 20px;
  border: solid #165175 1px;
  text-decoration: none;
}

.link_error:hover {
  background: #3f4447;
  background-image: -webkit-linear-gradient(top, #3f4447, #3498db);
  background-image: -moz-linear-gradient(top, #3f4447, #3498db);
  background-image: -ms-linear-gradient(top, #3f4447, #3498db);
  background-image: -o-linear-gradient(top, #3f4447, #3498db);
  background-image: linear-gradient(to bottom, #3f4447, #3498db);
  text-decoration: none;
}

.contant_box_error {
  margin-top: -50px;
}